{% extends 'base.html.twig' %}

{% block title %}{{'annonce.index'|trans}}{% endblock %}

{% block body %}
    <h1>{{'annonce.index'|trans}}</h1>

    <main id="annonceContainer">
        {% for annonce in annonces %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">{{ annonce.titre }}</a>
                        {% if annonce.auteur == app.user %}
                            <a class="card-link" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                            {{ include('annonce/_delete_form.html.twig') }}
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ annonce.prix }} Euros</p>
                    <p class="card-text">Crée par: {{ annonce.auteur.pseudo }}</p>
                    <p class="card-text">Publié le: {{ annonce.datedecreation ? annonce.datedecreation|date('d-m-Y à H:i:s') : '' }}</p>
                    {% if annonce.datedemaj %}<p class="card-text">Modifié le: {{ annonce.datedemaj ? annonce.datedemaj|date('d-m-Y à H:i:s') : '' }}</p>{% endif %}
                    <p class="card-text">Catégorie: {{ annonce.categorie }}</p>
                </div>
            </div>
        {% endfor %}
    </main>
    {{ knp_pagination_render(annonces) }}
{% endblock %}
