{% extends 'base.html.twig' %}

{% block title %}{{'annonce.new'|trans}}{% endblock %}

{% block body %}
    <h1>{{'annonce.new'|trans}}</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('app_annonce_index') }}">{{ 'annonce.back-to-list'|trans }}</a>
{% endblock %}
