{% extends 'base.html.twig' %}

{% block title %}{{ annonce.titre }}{% endblock %}

{% block body %}
    <h1>{{ annonce.titre }}</h1>

    <ul>
        <li>Créée le: {{ annonce.datedecreation ? annonce.datedecreation|date('Y-m-d H:i:s') : '' }}</li>
        <li>Dernière modification le: {{ annonce.datedemaj ? annonce.datedemaj|date('Y-m-d H:i:s') : '' }}</li>
        <li>Prix: {{ annonce.prix}}</li>
    </ul>

    <main>
        {{ annonce.description }}
    </main>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
