{% extends 'base.html.twig' %}

{% block title %}{{ annonce.titre }}{% endblock %}

{% block body %}
    <h1>{{ annonce.titre }}</h1>

    <ul>
        <li>Créée le: {{ annonce.datedecreation ? annonce.datedecreation|date('d-m-Y à H:i:s') : '' }}</li>
        {% if annonce.datedemaj %}<li>Dernière modification le: {{ annonce.datedemaj ? annonce.datedemaj|date('d-m-Y à H:i:s') : '' }}</li>{% endif %}
        <li>Prix: {{ annonce.prix}} euros</li>
    </ul>

    <main>
        {{ annonce.description }}
        {% for img in annonce.image %}
            <img src="{{ asset('uploads/') }}{{annonce.id}}-{{annonce.slugger}}/{{ img }}">
        {% endfor %}
    </main>

    {% for commentaire in commentaires %}
        <span>{{ commentaire.contenu }}</span> - Envoyé par {{ commentaire.auteur.pseudo }} le {{ commentaire.datedecreation ? commentaire.datedecreation|date('d-m-Y à H:i:s') : '' }}
    {% else %}
        <span>Aucun commentaire</span>
    {% endfor %}
    <a href="{{ path('app_commentaire_new', {'annonce': annonce.id}) }}">Ajouter un commentaire</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
